<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>OldMates</title>
</head>
<body>

  <h1>Bienvenido a <strong>¡OldMates!</strong></h1>

  <p><strong>OldMates</strong> es una app para abuelos y personas mayores que quieren hacer nuevos amigos, compartir intereses y mantenerse activos.

  Sumate a actividades grupales, juegos, encuentros o charlas.

  Descubrí eventos, armá tu agenda y conectate con otros desde tu perfil.

  En OldMates siempre hay algo para hacer... y alguien con quien compartirlo.</p>

  <br>

  <div>
    <img src="mesa1.png" alt="Personas mayores jugando" width="150">
    <img src="mesa2.png" alt="Personas mayores conversando" width="150">
  </div>
  <br>
  <div>
    <a href='@Url.Action("Registro", "Account")'>Registro</a>
    <a href='@Url.Action("Login", "Account")'>Iniciar Sesion</a>
  </div>

</body>
</html>