@{
    ViewData["Title"] = "Login";
}

<div class="login-container">

    <h2 class="login-title">Iniciar Sesión</h2>

    <form class="login-form" action="/Account/LoginPost" method="post">

        <div class="input-group">
            <label class="input-label">Usuario</label>
            <input type="text" class="input-field" name="Username" required />
        </div>

        <div class="input-group">
            <label class="input-label">Contraseña</label>
            <input type="password" class="input-field" name="Contraseña" required />
        </div>

        <button type="submit" class="btn-login">Ingresar</button>
    </form>

    <p class="register-text">
        ¿No tienes cuenta?
        <a class="register-link" href="Registro">Regístrate aquí</a>
    </p>
</div>