@{
    ViewData["Title"] = "Registro";
}


<div class="registro-container">


    <h2 class="registro-titulo">
        ¡Estás a un paso de unirte a <strong>OldMates</strong>!
    </h2>

    <form action="RegistroPost" method="post" class="registro-form">

        <div class="input-group">
            <label class="input-label">Usuario</label>
            <input type="text" class="input-field" name="Username" required autocomplete="off"/>
        </div>

        <div class="input-group">
            <label class="input-label">Nombre</label>
            <input type="text" class="input-field" name="Nombre" required autocomplete="off"/>
        </div>

        <div class="input-group">
            <label class="input-label">Apellido</label>
            <input type="text" class="input-field" name="Apellido" required autocomplete="off"/>
        </div>

        <div class="input-group">
            <label class="input-label">Localidad</label>
            <input type="text" class="input-field" name="Localidad" required autocomplete="off"/>
        </div>

        <div class="input-group">
            <label class="input-label">Intereses</label>
            <input type="text" class="input-field" name="Intereses" required autocomplete="off"/>
        </div>

        <div class="input-group">
            <label class="input-label">Contraseña</label>
            <input type="password" class="input-field" id="contraseña" name="Contraseña" required autocomplete="off"/>
        </div>

        <div class="input-group">
            <label class="input-label">Repetir Contraseña</label>
            <input type="password" class="input-field" id="repetir" name="RepetirContraseña" required autocomplete="off"/>
            <small id="msg" class="text-danger"></small>
        </div>


<script>
    const pass = document.getElementById("contraseña");
    const rep = document.getElementById("repetir");
    const msg = document.getElementById("msg");

    rep.addEventListener("input", () => {
        if (rep.value !== pass.value) {
            msg.textContent = "Contraseñas incorrecta. Ingresé nuevamente";
        } else {
            msg.textContent = "";
        }
    });
</script>

        <button type="submit" class="btn-enviar">Registrarse</button>
    </form>


    <p class="registro-abajo">
        ¿Ya tenés cuenta?
        <a href="Login">Inicia sesión</a>
    </p>


</div>