USE [master]
GO
/****** Object:  Database [OldMates]    Script Date: 18/11/2025 16:56:16 ******/
CREATE DATABASE [OldMates]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OldMates', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\OldMates.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OldMates_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\OldMates_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OldMates].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OldMates]
GO
/****** Object:  User [alumno]    Script Date: 18/11/2025 16:56:16 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Anotados]    Script Date: 18/11/2025 16:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Anotados](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDEvento] [int] NOT NULL,
	[IDUsuario] [int] NOT NULL,
	[DesInscribirse] [bit] NOT NULL,
 CONSTRAINT [PK_Anotados] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chat]    Script Date: 18/11/2025 16:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Chat] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evento]    Script Date: 18/11/2025 16:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDCreador] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Localidad] [varchar](50) NOT NULL,
	[Duracion] [time](7) NOT NULL,
	[Capacidad] [int] NOT NULL,
	[Intereses] [varchar](50) NOT NULL,
	[DesInscribirse] [bit] NULL,
	[Foto] [varchar](50) NULL,
	[Eliminada] [bit] NOT NULL,
 CONSTRAINT [PK_Evento] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Intereses]    Script Date: 18/11/2025 16:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Intereses](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Intereses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tutorial]    Script Date: 18/11/2025 16:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tutorial](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[Duracion] [int] NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tutorial] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 18/11/2025 16:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[Localidad] [varchar](50) NOT NULL,
	[Intereses] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Admin] [bit] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([ID], [Username], [Contraseña], [Localidad], [Intereses], [Nombre], [Apellido], [Admin]) VALUES (1, N'usuario1', N'contraseña123', N'Madrid', N'Deportes', N'Juan', N'Pérez', 1)
INSERT [dbo].[Usuario] ([ID], [Username], [Contraseña], [Localidad], [Intereses], [Nombre], [Apellido], [Admin]) VALUES (2, N'a', N'a', N'a', N'a', N'a', N'a', 0)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
/****** Object:  StoredProcedure [dbo].[BorrarEvento]    Script Date: 18/11/2025 16:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BorrarEvento]
@IDEvento int
AS
BEGIN
UPDATE Evento SET DesInscribirse = 1 WHERE ID = @IDEvento
UPDATE Evento SET Eliminada = 1 WHERE ID = @IDEvento
END
GO
/****** Object:  StoredProcedure [dbo].[CrearEvento]    Script Date: 18/11/2025 16:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearEvento]
    @IDCreador int,
    @Titulo varchar(50),
    @Descripcion varchar(50),
    @Duracion time(7),
    @Fecha datetime,
    @Localidad varchar(50),
    @Intereses varchar(50),
    @Foto varchar(50),
    @DesInscribirse bit,
    @Eliminada bit,
    @Capacidad int
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Evento (IDCreador, Titulo, Descripcion, Duracion, Fecha, Localidad, Intereses, Foto, DesInscribirse, Eliminada, Capacidad)
    OUTPUT inserted.*
    VALUES (@IDCreador, @Titulo, @Descripcion, @Duracion, @Fecha, @Localidad, @Intereses, @Foto, @DesInscribirse, @Eliminada, @Capacidad);
END
GO
/****** Object:  StoredProcedure [dbo].[DesInscribirse]    Script Date: 18/11/2025 16:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DesInscribirse]
@IDUsuario int, @IDEvento int 
AS
BEGIN

UPDATE Anotados SET DesInscribirse = 1 WHERE IDUsuario = @IDUsuario AND IDEvento = @IDEvento
DELETE FROM Anotados WHERE IDUsuario = @IDUsuario AND IDEvento = @IDEvento
END

GO
/****** Object:  StoredProcedure [dbo].[EstaInscripto]    Script Date: 18/11/2025 16:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EstaInscripto]
@IDEvento int, @IDUsuario int
AS
BEGIN

SELECT * FROM Anotados WHERE IDEvento = @IDEvento AND IDUsuario = @IDUsuario

END
GO
/****** Object:  StoredProcedure [dbo].[Inscribirse]    Script Date: 18/11/2025 16:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Inscribirse]
@IDUsuario int, @IDEvento int 
AS
BEGIN

UPDATE Anotados SET DesInscribirse = 0 WHERE IDUsuario = @IDUsuario AND IDEvento = @IDEvento
INSERT INTO Anotados (IDUsuario, IDEvento) VALUES (@IDUsuario, @IDEvento)

END

GO
/****** Object:  StoredProcedure [dbo].[MisActividades]    Script Date: 18/11/2025 16:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MisActividades]
@IDUsuario int
AS
BEGIN
SELECT * FROM Anotados WHERE IDUsuario = @IDUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerEvento]    Script Date: 18/11/2025 16:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerEvento]
AS
BEGIN
SELECT * FROM Evento WHERE Eliminada = 0
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerEventoPorId]    Script Date: 18/11/2025 16:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerEventoPorId]
@IDEvento int
AS
BEGIN
SELECT * FROM Evento WHERE ID = @IDEvento AND Eliminada = 0
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerEventosInscripto]    Script Date: 18/11/2025 16:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerEventosInscripto]
@IDUsuario int
AS
BEGIN
SELECT * FROM Anotados WHERE IDUsuario = @IDUsuario AND DesInscribirse = 0 

END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerPorUsername]    Script Date: 18/11/2025 16:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerPorUsername]
@Username varchar

AS
BEGIN
	SELECT * FROM Usuario WHERE Username = @Username
END
GO
/****** Object:  StoredProcedure [dbo].[Registro]    Script Date: 18/11/2025 16:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Registro]
@Username varchar, @Contraseña varchar, @Localidad varchar, @Intereses varchar, @Nombre varchar, @Apellido varchar, @Admin bit
AS
BEGIN

INSERT INTO Usuario (Username, Contraseña, Localidad, Intereses, Nombre, Apellido, Admin)
VALUES (@Username, @Contraseña, @Localidad, @Intereses, @Nombre, @Apellido, @Admin)
END
GO
USE [master]
GO
