@{
    ViewData["Title"] = "Crear Evento";
}
    <body>
      <main>
      <a href='@Url.Action("CrearEvento", "Home")'>Crear Actividad</a>
        <section>
        </section>
      </main>
  </body>