@{
    ViewData["Title"] = "Crear Evento";
}

<body>
  <main class="crear-actividad-container">
    <h1>Crea una actividad:</h1>

    <form action="CrearEventoRecibir" method="post" enctype="multipart/form-data">
      <div class="form-grid">
        <div class="form-group">
          <label for="titulo">Título</label>
          <input type="text" id="titulo" name="Titulo" class="form-control" placeholder="Titulo" required>
        </div>

        <div class="form-group">
          <label for="duracion">Duración</label>
          <input type="time" id="duracion" name="Duracion" class="form-control" placeholder="Duración" required>
        </div>

        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <input type="text" id="descripcion" name="Descripcion" class="form-control" placeholder="Descripción" required>
        </div>

        <div class="form-group">
          <label for="intereses">Interés</label>
          <input type="text" id="intereses" name="Intereses" class="form-control" placeholder="Interés" required>
        </div>

        <div class="form-group">
          <label for="capacidad">Capacidad máxima</label>
          <input type="number" id="capacidad" name="Capacidad" class="form-control" placeholder="Capacidad máxima" required>
        </div>

        <div class="form-group">
          <label for="fecha">Fecha y hora</label>
          <input type="datetime-local" id="fecha" name="Fecha" class="form-control" placeholder="Fecha" required>
        </div>

        <div class="form-group">
          <label for="localidad">Zona</label>
          <input type="text" id="localidad" name="Localidad" class="form-control" placeholder="Zona" required>
        </div>

        <div class="form-group upload-btn">
          <label for="imagen" class="btn-success">Imagen de la actividad</label>
          <input type="file" id="imagen" name="Imagen" accept="image/*" hidden>
        </div>
      </div>

      <div class="submit-btn">
        <button type="submit" class="btn-primary">Crear Actividad</button>
      </div>
    </form>
  </main>
</body>
</html>
