<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Explorar</title>
</head>
<body>
  <div class="container text-center">
    <div class="row">
      <div class="col">
      Juegos
      <img src="~/img/juego.png" alt="Juego">
      </div>
      <div class="col">
      Tutorailes
      <img src="img/Ttutoriales.png" alt="Tutoriales">
      </div>
      <div class="col">
      Activiadades
      <img src="img/actividades.png" alt="Activades">
      </div>
    </div>
  </div>
</body>
</html>