@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Bienvenido!</h1>

<div class="card" style="width: 18rem;">
  <div class="card-header">
   <h5>Tus Eventos del dia:</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Burako</li>
    <li class="list-group-item">Amanazo de pan</li>
    <li class="list-group-item">Pintura de exterior</li>
  </ul>
</div>

  <h5>Proximos Eventos</h5>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Taller de pasteleria</h5>
    <p class="card-text">El taller de pastelería es un espacio donde se aprende a preparar tortas, postres y masas dulces.
Los participantes desarrollan su creatividad mientras aplican técnicas de decoración y horneado.
Es una actividad ideal para quienes disfrutan cocinar y quieren mejorar sus habilidades en repostería.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Torneo Truco</li>
    <li class="list-group-item">Fiesta de Halloween</li>
    <li class="list-group-item">Taller de Muscia</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Ver más</a>
    <a href="#" class="card-link">Preguntas</a>
  </div>
</div>
 