@{
    ViewData["Title"] = "Juegos";
}

<div class="carrusel-actividades">
    <h2 class="title text-center mb-4">Juegos</h2>
    
    <div class="row g-4 justify-content-center">
        <div class="col-md-4 col-sm-6">
            <a href="https://trucogame.com/" target="_blank" class="text-decoration-none">
                <div class="card text-center h-100">
                    <div class="card-body">
                        <img src="~/img/Juegos.png" alt="Truco" class="img-fluid mb-3" style="max-height: 150px;">
                        <h5 class="card-title" style="color: #024873;">Truco</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="https://www.chess.com/play" target="_blank" class="text-decoration-none">
                <div class="card text-center h-100">
                    <div class="card-body">
                        <img src="~/img/TableroDeAjedrez.png" alt="Ajedrez" class="img-fluid mb-3" style="max-height: 150px;">
                        <h5 class="card-title" style="color: #024873;">Ajedrez</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="https://sudoku.com/" target="_blank" class="text-decoration-none">
                <div class="card text-center h-100">
                    <div class="card-body">
                        <img src="~/img/Sudoku.png" alt="Sudoku" class="img-fluid mb-3" style="max-height: 150px;">
                        <h5 class="card-title" style="color: #024873;">Sudoku</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="https://memorygame.io/" target="_blank" class="text-decoration-none">
                <div class="card text-center h-100">
                    <div class="card-body">
                        <img src="~/img/JuegosDeMemoria.png" alt="Juegos de memoria" class="img-fluid mb-3" style="max-height: 150px;">
                        <h5 class="card-title" style="color: #024873;">Juegos de Memoria</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="https://www.solitaro.com/" target="_blank" class="text-decoration-none">
                <div class="card text-center h-100">
                    <div class="card-body">
                        <img src="~/img/Solitario.png" alt="Solitario" class="img-fluid mb-3" style="max-height: 150px;">
                        <h5 class="card-title" style="color: #024873;">Solitario</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="https://play-bingo.com/" target="_blank" class="text-decoration-none">
                <div class="card text-center h-100">
                    <div class="card-body">
                        <img src="~/img/Bingo.png" alt="Bingo" class="img-fluid mb-3" style="max-height: 150px;">
                        <h5 class="card-title" style="color: #024873;">Bingo</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
