<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Juego</title>
</head>
<body>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        Truco 
       <img src="~/img/Truco.png" alt="Truco">
      </div>
      <div class="col">
        Ajedrez (Chess)  
        <img src="img/TableroDeAjedrez.png" alt="Ajedrez (Chess) ">
      </div>
    </div>
    <div class="row">
      <div class="col">
        Sudoku
        <img src="~/img/Sudoku.png" alt="Sudoku">
      </div>
      <div class="col">
        Juegos de memoria (Brain Games)
        <img src="~/img/Memoria.png" alt="Juegos de memoria (Brain Games)">
      </div>
      <div class="col">
        Solitario
        <img src="~/img/Solitario.png" alt="Solitario">
      </div>
      <div class="col">
        Bingo
        <img src="~/img/Bingo.png" alt="Bingo">
      </div>
    </div>
  </div>
</body>
</html>