@{
    ViewData["Title"] = "Juego";
}
<body>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          Truco 
         <img src="~/img/Juegos.png" alt="Truco">
        </div>
        <div class="col">
          Ajedrez 
          <img src="~/img/TableroDeAjedrez.png" alt="Ajedrez">
        </div>
      </div>
      <div class="row">
        <div class="col">
          Sudoku
          <img src="~/img/Sudoku.png" alt="Sudoku">
        </div>
        <div class="col">
          Juegos de memoria
          <img src="~/img/JuegosDeMemoria.png" alt="Juegos de memoria">
        </div>
        <div class="col">
          Solitario
          <img src="~/img/Solitario.png" alt="Solitario">
        </div>
        <div class="col">
          Bingo
          <img src="~/img/Bingo.png" alt="Bingo">
        </div>
      </div>
    </div>
  </body>
</html>