@{
    ViewData["Title"] = "Juego";
}
<body>
    <div class="container text-center">

      <div class="row">
        <div class="col">
          <a href="https://trucogame.com/" target="_blank" style="display:inline-block; text-decoration:none; color:inherit;">
            Truco<br>
            <img src="~/img/Juegos.png" alt="Truco" style="cursor:pointer;">
          </a>
        </div>

        <div class="col">
          <a href="https://www.chess.com/play" target="_blank" style="display:inline-block; text-decoration:none; color:inherit;">
            Ajedrez<br>
            <img src="~/img/TableroDeAjedrez.png" alt="Ajedrez" style="cursor:pointer;">
          </a>
        </div>
      </div>

      <div class="row">

        <div class="col">
          <a href="https://sudoku.com/" target="_blank" style="display:inline-block; text-decoration:none; color:inherit;">
            Sudoku<br>
            <img src="~/img/Sudoku.png" alt="Sudoku" style="cursor:pointer;">
          </a>
        </div>

        <div class="col">
          <a href="https://memorygame.io/" target="_blank" style="display:inline-block; text-decoration:none; color:inherit;">
            Juegos de memoria<br>
            <img src="~/img/JuegosDeMemoria.png" alt="Juegos de memoria" style="cursor:pointer;">
          </a>
        </div>

        <div class="col">
          <a href="https://www.solitaro.com/" target="_blank" style="display:inline-block; text-decoration:none; color:inherit;">
            Solitario<br>
            <img src="~/img/Solitario.png" alt="Solitario" style="cursor:pointer;">
          </a>
        </div>

        <div class="col">
          <a href="https://play-bingo.com/" target="_blank" style="display:inline-block; text-decoration:none; color:inherit;">
            Bingo<br>
            <img src="~/img/Bingo.png" alt="Bingo" style="cursor:pointer;">
          </a>
        </div>

      </div>

    </div>
</body>
</html>
