@{
    ViewData["Title"] = "Landing";
}


<h1 class="bienvenido-title">¡Bienvenido!</h1>


<div class="card eventos-hoy">
    <div class="card-header">
        <h5 class="card-title-small">Tus eventos del día:</h5>
    </div>
    <ul class="card-list">
        <li>Burako</li>
        <li>Amasado de pan</li>
        <li>Pintura de exterior</li>
    </ul>
</div>


<h5 class="subtitulo">Próximos eventos</h5>


<div class="card eventos-proximos">
    <img src="/img/landing.png" class="card-img" alt="Taller">
    <div class="card-body">
        <h5 class="card-title">Taller de pastelería</h5>
        <p class="card-text">
            El taller de pastelería es un espacio donde se aprende a preparar tortas, postres y masas dulces.
            Los participantes desarrollan su creatividad mientras aplican técnicas de decoración y horneado.
            Es ideal para quienes disfrutan cocinar y quieren mejorar sus habilidades.
        </p>
    </div>


    <ul class="card-list">
        <li>Torneo de Truco</li>
        <li>Fiesta de Halloween</li>
        <li>Taller de Música</li>
    </ul>

    <div class="container text-center">
  <div class="row align-items-center">
    <div class="col">
  Juan - Se unio hace 4 meses                                                                                         
  "OldMates me cambio la vida! Mi salud mejor muchismo y me siento mu acompañado"    </div>
    <div class="col">
  Natalia - Una de nuestras primeras usarios
  "Aprendi muchas cosas gracias a los tutorailes. Siento que conozco mucho más la tecnología"    </div>
    <div class="col">
  Hernesto - Se unio hace 2 meses
  "Me encantan las actividaes, mucha variedad y para todos los gustos. Recomiendo al 100%"    </div>
  </div>
</div>


    <div class="card-footer">
        <a href="#" class="card-link">Ver más</a>
        <a href="#" class="card-link">Preguntas</a>
    </div>
</div>





