@{
    ViewData["Title"] = "Lista De Amigos";
}

<div class="container text-center">
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <div class="col">
      <div class="p-3">Dario</div>
    </div>
    <div class="col">
      <div class="p-3">Ana</div>
    </div>
    <div class="col">
      <div class="p-3">Becky</div>
    </div>
    <div class="col">
      <div class="p-3">Tita</div>
    </div>
    <div class="col">
      <div class="p-3">Alicia</div>
    </div>
    <div class="col">
      <div class="p-3">Bernardo</div>
    </div>
    <div class="col">
      <div class="p-3">Julia</div>
    </div>
    <div class="col">
      <div class="p-3">Mechi</div>
    </div>
    <div class="col">
      <div class="p-3">Jose</div>
    </div>
    <div class="col">
      <div class="p-3">Jaime</div>
    </div>
     <div class="col">
      <div class="p-3">Erica</div>
    </div>
     <div class="col">
      <div class="p-3">Rodo</div>
    </div>
  </div>
</div>