@{
    ViewData["Title"] = "Menú";
}

<nav class="menu-lateral">
    <div class="menu-toggle">
        <span>☰</span>
    </div>

    <ul class="menu-lista">
        <li><a href="/Home/Index">Inicio</a></li>
        <li><a href="/Perfil/Index">Mi Perfil</a></li>
        <li><a href="/Perfil/Editar">Editar mi Perfil</a></li>
        <li><a href="/Actividad/MisActividades">Mis Actividades</a></li>
        <li><a href="/Amigos/Invitar">Invitar Amigos</a></li>
        <li><a href="/Recomendaciones/Index">Recomendaciones</a></li>
        <li><a href="/Agenda/Index">Mi Agenda</a></li>
        <li><a href="/Amigos/Lista">Lista de Amigos</a></li>
        <li><a href="/Cuenta/Logout">Cerrar Sesión</a></li>
    </ul>
</nav>
