@model OldMates.Models.Evento

@{
    ViewData["Title"] = "Modificar Actividad";
}

<main class="crear-actividad-container">
    <h1>Modificar actividad:</h1>

    <form action='@Url.Action("ModificarEventoRecibir", "Home")' method="POST" enctype="multipart/form-data">
        <input type="hidden" name="ID" value="@ViewBag.modificartarea.ID" />

        <div class="form-grid">
            <div class="form-group">
                <input asp-for="Titulo" class="form-control" placeholder="Título" />
            </div>

            <div class="form-group">
          <input type="text" name="Duracion" value="@Model.Fecha.ToString("HH:mm")" class="form-control" placeholder="Duración" required>
        </div>

            <div class="form-group">
                <textarea asp-for="Descripcion" class="form-control" placeholder="Descripción"></textarea>
            </div>

            <div class="form-group">
                <input asp-for="Intereses" class="form-control" placeholder="Intereses" />
            </div>

            <div class="form-group">
                <input asp-for="Capacidad" class="form-control" placeholder="Capacidad máxima" type="number" />
            </div>

            <div class="form-group">
                <input asp-for="Fecha" class="form-control" type="date" />
            </div>

            <div class="form-group">
                <input asp-for="Localidad" class="form-control" placeholder="Zona / Localidad" />
            </div>

            <div class="form-group upload-btn">
                <label for="imagen" class="btn-success">Cambiar imagen +</label>
                <input type="file" id="imagen" name="imagen" accept="image/*" hidden>
            </div>
        </div>

        <div class="submit-btn">
            <button type="submit" class="btn-primary">Guardar Cambios</button>
        </div>
    </form>
</main>
