@{
    ViewData["Title"] = "Notificaciones";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificaciones</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <div class="card blue">
        Juan Te ha invitado a “Noche de Burako”
    </div>

    <div class="card yellow">
        Hoy tienes la actividad “Partido de Tejo”
    </div>

    <div class="card yellow">
        Hoy tienes la actividad “Año Nuevo”
    </div>

    <div class="card blue">
        Marta Te ha invitado a “Día de Crochet”
    </div>

</body>
</html>