@{
    ViewData["Title"] = "Perfil";
}
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
 
  <main class="perfil-main">

    <p class="perfil-titulo">Hola! Aca estan tus datos.</</p>

    <div class="perfil-foto">
        <img src="tuimagen.jpg" alt="Foto de perfil">
    </div>
    <section class="perfil-seccion datos-personales">

        <input type="text" placeholder="Nombre:________________________">   
        <input type="text" placeholder="Apellido:________________________">      
        <input type="text" placeholder="Edad:________________________">      
        <input type="text" placeholder="Ubicación:________________________">       
        <input type="text" placeholder="Email:________________________">
</body>
</html>


