@{
    ViewData["Title"] = "PerfilMenu";
}
<div class="row menu-lateral">
    <div class="col-sm-6 mb-3">
        <div class="card menu-card">
            <div class="card-body">
                <h5 class="card-title">Mi Perfil</h5>
                <a href='@Url.Action("Perfil", "Home")' class="btn menu-btn">▶️</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 mb-3">
        <div class="card menu-card">
            <div class="card-body">
                <h5 class="card-title">Editar Perfil</h5>
                <a href='@Url.Action("EditarPerfil", "Home")' class="btn menu-btn">▶️</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 mb-3">
        <div class="card menu-card">
            <div class="card-body">
                <h5 class="card-title">Lista de Amigos</h5>
                <a href='@Url.Action("ListaDeAmigos", "Home")' class="btn menu-btn">▶️</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 mb-3">
        <div class="card menu-card">
            <div class="card-body">
                <h5 class="card-title">Cerrar Sesión</h5>
                <a href='@Url.Action("CerrarSesion", "Home")' class="btn menu-btn">▶️</a>
            </div>
        </div>
    </div>
</div>
