@{
    ViewData["Title"] = "Recomendaciones";
}
<div class="container text-center">
  <div class="row align-items-center">
    <div class="col">
  Juan - Se unio hace 4 meses                                                                                         
  "OldMates me cambio la vida! Mi salud mejor muchismo y me siento mu acompañado"    </div>
    <div class="col">
  Natalia - Una de nuestras primeras usarios
  "Aprendi muchas cosas gracias a los tutorailes. Siento que conozco mucho más la tecnología"    </div>
    <div class="col">
  Hernesto - Se unio hace 2 meses
  "Me encantan las actividaes, mucha variedad y para todos los gustos. Recomiendo al 100%"    </div>
  </div>
</div>